body {
	margin: 0px;
	background: #FBEFBD;
	font-family: Verdana;
	text-align: justify;
}

header {
	background: #384951;
	color: #F2D392;
	padding: 15px;
	font-size: 48px;
}

header div span {
	font-size: 18px;
}

.part1-pic {
    width: 100%;
}

.part1, .part2, .part3 {
	margin: 0px 240px 20px 240px;
}

.part1 div, .part2 div, .part3 div {
	font-size: 30px;
}

.part1 div span, .part2 div span, .part3 div span {
	font-size: 16px;
}

.part2 {
	background: #E37979;
}

.grid-container1, .grid-container2 {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container1 {
	  grid-template-columns: 250px 500px;
}

.grid-container2 {
  grid-template-columns: 500px 250px;
}