body {
	margin: 0px;
	font-family: Verdana;
	background-color: #384951;
}

header {
	background: #384951;
	padding: 15px;
	font-size: 48px;
	color: #F2D392;
	position: sticky;
	top: 0;
}

header div span {
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a:link{
	color: #B9CDCC;
	float: left;
	display: block;
	padding: 10px;
	text-decoration: none;
	}
	li a:visited{
	color: #B9CDCC;
	}
	li a:hover {
	background-color: #F2D392;
	color: black;
	}
	li a.active {
	background-color: rgb(138,177,125);
	color: white;
	}

.sprite {
	width: 20px;
	height: 20px;
}

p {
	display:none;
	font-size: 12px;
}
li:hover p {
		display: block;
}

.part1 {
	padding: 15px;
	background-color: #B9CDCC;
}

.part1-pic {
    width: 500px;
}

.title {
	font-size: 30px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	width: 560px;
	text-align: left;
	line-height: 30px;
	font-size: 30px;
}

.flex-container div span {
	text-align: justify;
	line-height: 25px;
	font-size: 20px;
}

.part2 {
	background-color: #384951;
	padding: 15px;
	color: #F2D392;
}

.part3 {
	background-color: #F9E6BB;
	padding: 20px;
}

.flex-container1, .flex-container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container1 > div {
	width: 800px;
	text-align: center;
	line-height: 25px;
	font-size: 30px;
}

.flex-container2 > div {
	width: 275px;
	padding: 10px;
	text-align: center;
    line-height: 25px;
    font-size: 30px;
}

.flex-container1 div span, .flex-container2 div span {
	font-size: 20px;
}

.flex-container1 p {
	display: block;
	font-size: 12px;
}

nav a:link{
	color: black;
	text-decoration: none;
}
nav a:visited{
	color: purple;
}
nav a:hover {
	background-color: rgb(38,70,83);
	color: white;
}
nav a.active {
	background-color: rgb(138,177,125);
	color: yellow;
}

.animation {
	width: 100px;
    height: 100px;
    position: absolute;
	left: 200px;
	animation: slide 6s infinite;
}
@keyframes slide{
	0%   {left:200px}
	50%  {left:400px;}
	100% {left:200px;}
}